<div class="footer">
   @Html.Action("BottomMenu","Posts")
</div>
<div class="copyright">
    <a href="@Url.RouteUrl("homepage")" class="logo"></a>
    <div class="leftcol">
        @Html.Action("TopicBlock", "Topic", new { systemName = "FooterInfo"})
    </div>
</div>
<div class="tool_rightbar"> <a href="#" class="emailbtn icn"></a> <a href="@Url.RouteUrl("homepage")" class="homebtn icn"></a> <a href="#" class="gotopbtn icn"></a> </div>