@{
    Layout = "~/Views/Shared/_OneColumn.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PageNotFound").Text);
}

<div class="page404">
    <h2>@T("PageTitle.PageNotFound")</h2>
    <p>@Html.Action("TopicBlock", "Topic", new {systemName = "PageNotFound"})</p>
    <p>
        Quay về <a href="@Url.RouteUrl("homepage")">Trang chủ</a>
    </p>
</div>