.foo { }

/* HTML GENERAL */

body, h1, h2, h3, h4, h5, h6, address, blockquote, dd, dl, hr, form, input {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 12px;
}

hr {
    border-bottom: 1px solid #CCC;
    color: #FFF;
}

label.forcheckbox {
    display: inline;
    margin: 0 0 0 .4em;
}

/* LINKS */

a {
    color: #009FFF;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    color: #009FFF;
    font-weight: 700;
    text-decoration: underline;
}

a img { border: 0; }

.header-menu a { font-weight: 400; }

/* IMAGES */

img { border: none; }

/* HEADINGS & TEXT */

h1,
h2,
h3,
h4,
h5,
h6 { font-family: arial, helvetica, sans-serif; }

h2,
h3 { font-size: 16px; }

/* SECTION HEADERS */

.section-title {
    border-bottom: solid 3px #dfdfdf;
    color: #009FFF;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 1px;
    vertical-align: bottom;
}

.section-title img {
    padding-bottom: 2px;
    vertical-align: middle;
}

.section-header .title a {
    color: #555;
    font-size: 11px;
    text-decoration: none;
    text-transform: none;
}

.section-header {
    border-bottom: solid 3px #dfdfdf;
    height: 25px;
    margin-bottom: 10px;
    padding-bottom: 1px;
}

.section-header .title {
    color: #009FFF;
    float: left;
    font-size: 14px;
    font-weight: 700;
    padding-top: 5px;
    text-transform: capitalize;
    vertical-align: bottom;
}

.section-header .title img {
    padding-bottom: 2px;
    vertical-align: middle;
}

.section-header .options {
    float: right;
    text-align: right;
}

/* STORE SCOPE CONFIGURATION */

.multi-store-scope {
    background-color: #dfdfdf;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
}

.multi-store-scope .selector { }

.multi-store-scope .check-all { margin-top: 10px; }

.multi-store-scope .title { font-weight: 700; }

/* TABLES */

td { vertical-align: middle; }

td.fieldname { font-size: 12px; }

.table-container { }

.table-container .row { }

.table-container .row .item-name {
    display: block;
    padding: 3px 10px 0 0;
    padding-right: 10px;
    vertical-align: middle;
    white-space: nowrap;
}

.table-container .row .item-value {
    padding: 3px 0 0;
    vertical-align: middle;
}

table.adminContent {
    border-collapse: collapse;
    color: #333;
    font-size: 12px;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

table.adminContent td.adminTitle { padding: 4px; }

table.adminContent td.adminData { padding: 4px; }

td.adminTitle {
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 195px;
}

td.adminTitle img {
    padding-right: 2px;
    vertical-align: bottom;
}

td.adminData {
    text-align: left;
    vertical-align: middle;
}

td.adminData .text-box.single-line {
    border: 1px solid #A7BAC5;
    padding: 2px;
    width: 250px;
}

.t-grid .text-box.single-line {
    border: 1px solid #A7BAC5;
    padding: 2px;
}

td.adminData textarea {
    border: 1px solid #ACACAC;
    padding: 2px;
    width: 250px;
}

td.adminData .t-combobox { width: 256px; }

td.adminData .t-numerictextbox .t-input {
    border: 1px solid #ACACAC;
    padding: 2px;
    width: 250px;
}

tr.adminSeparator hr {
    background-color: #D3D3D3;
    border: medium none;
    color: #D3D3D3;
    height: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
}

span.nop-tooltip { white-space: nowrap; }

/* SERVER CONTROLS */

.adminButtonBlue {
    background: url(images/blue_button_bg.gif) no-repeat 25% 50% #333;
    border: 1px solid #0f72ac;
    color: #FFF;
    font-size: 11px;
    font-weight: 700;
    height: 22px;
    margin-bottom: 3px;
    padding: 0 10px;
}

.adminButton {
    background: url(images/grey_button_bg.gif) no-repeat 25% 50% #333;
    border: 1px solid #333;
    color: #FFF;
    font-size: 11px;
    font-weight: 700;
    height: 20px;
    margin-bottom: 3px;
    padding: 0 10px;
    text-align: right;
}

.adminInput {
    border: 1px solid #acacac;
    width: 250px;
}

label { padding-left: 3px; }

/* ADMIN GRID VIEW */

.tablestyle {
    background-color: #FFF;
    border: 1px solid gray;
    color: #245D75;
    font-family: arial;
    font-size: 11px;
    margin-left: 0;
    width: 100%;
}

.tablestyle td a {
    color: #D16400;
    font-weight: 700;
    text-decoration: none;
}

.altrowstyle { background-color: #F4FAFF; }

.headerstyle th {
    background: url(images/admin-gvw-bg.gif) repeat-x 50%;
    border: solid 1px #676767;
    color: #fff;
    font-weight: 700;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
}

.headerstyle th a {
    color: #fff;
    display: block;
    font-weight: 700;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
}

.rowstyle td,
.altrowstyle td {
    border-right: solid 1px #A0C0E7;
    border-right-color: gray;
    padding: 4px 10px;
}

/* MISC. CLASSES */

.progress {
    background: none repeat scroll 0 0 #FFF;
    height: 40px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 20px;
    width: 280px;
    z-index: 2147483647;
}

.clearer { zoom: 1; }

.clearer:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/* MASTER PAGE WRAPPERS */

.master-wrapper-page { }

.master-wrapper-content { }

/* MASTER HEADER */

.header {
    background: url(images/admin-header-bg.gif) repeat-x;
    height: 70px;
    position: relative;
    width: 100%;
}

.header .logo {
    background: url(images/logo.png);
    display: block;
    height: 70px;
    text-decoration: none;
    width: 340px;
}

.header .languageselector {
    position: absolute;
    right: 400px;
    text-align: right;
    top: 7px;
}

.header .links {
    position: absolute;
    right: 10px;
    text-align: right;
    top: 7px;
}

a img { border: 0; }

.header .links .separator {
    color: #FFF;
    padding: 0 3px;
}

.header .login-info {
    color: #e7e7e7;
    font-size: 10px;
    position: absolute;
    right: 5px;
    text-align: right;
    top: 35px;
}

.header .login-info .a {
    color: #009FFF;
    font-weight: 700;
    text-decoration: none;
}

.header .version {
    color: #e7e7e7;
    font-size: 10px;
    position: absolute;
    right: 5px;
    text-align: right;
    top: 55px;
}

/* MASTER HEADER MENU */

.header-menu {
    background: url(images/admin-menu-bg.gif) repeat-x;
    text-transform: capitalize;
    width: 100%;
}

.header-menu .t-menu .t-link { padding: .6em .97em; }

.header-menu .t-menu .t-arrow-next { top: 7px; }

/* MASTER HEADER STATUS BAR */

.status-bar {
    background: #e7efef no-repeat;
    border: solid 1px #acacac;
    font-weight: 700;
    padding: 5px;
}

/* MASTER ERRORS */

.message-box {
    background-color: #F4F4F4;
    background-position: 7px 5px;
    background-repeat: no-repeat;
    color: #333;
    font-family: Tahoma;
    font-size: 11px;
    margin: 5px 0;
    padding: 8px 8px 8px 30px;
}

.message-box-error {
    background-color: #FFECEC;
    background-image: url(images/error-message.gif);
}

.message-box-success { background-image: url(images/success-message.gif); }

.field-validation-error,
.validation-summary-errors { color: red; }

/* MASTER CONTENT */

.content .cph { padding: 20px 15px 5px; }

/* DASHBOARD */

table.dashboard {
    border: solid 1px #ccc;
    border-collapse: collapse;
    margin-top: 15px;
    width: 100%;
}

table.dashboard td.maincol {
    padding: 10px;
    vertical-align: top;
}

table.dashboard td.splitcol {
    vertical-align: top;
    width: 50%;
}

table.dashboard td.rightcol {
    background: #f3f3f3;
    padding: 10px 5px 5px;
    vertical-align: top;
    width: 215px;
}

table.stats {
    margin-top: 10px;
    width: 100%;
}

table.stats td.orderaveragereport {
    vertical-align: top;
    width: 100%;
}

table.stats td.orderstatistics {
    vertical-align: top;
    width: 33%;
}

table.stats td.customerstatistics {
    padding-left: 5px;
    vertical-align: top;
    width: 33%;
}

table.stats td.search-term-statistics {
    padding-left: 5px;
    vertical-align: top;
    width: 33%;
}

table.stats td.bestsellers {
    vertical-align: top;
    width: 50%;
}

.statisticsTitle {
    color: #333;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: left;
}

.nop-news .newsitem { }

.nop-news .newsitem .newstitle { }

.nop-news .newsitem .newstitle a:hover { text-decoration: none; }

.nop-news .newsitem .newsdate {
    border-bottom: solid 1px #dfdfdf;
    color: #555;
    font-size: .8em;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.nop-news .newsitem .newsdetails {
    color: #333;
    margin-bottom: 10px;
}

.nop-news .adv {
    border-top: solid 3px #dfdfdf;
    padding: 1px 0;
    text-align: right;
}

.nop-news .adv a { color: #D16400; }

/* ORDER AND PRODUCT EDITING */

table.order-edit {
    padding: 5px;
    width: 100%;
}

table.order-edit td {
    border: medium none;
    padding: 1px 5px;
}

.product-attributes-input { }

.product-attributes-input .text-prompt { font-weight: bold; }

.product-attributes-input .required { color: Red; }

.product-attributes-input .attribute-description { font-size: 11px; }

.product-attributes-input ul.option-list {
    margin: 0px;
    padding: 0px;
}

.product-attributes-input ul.option-list li { list-style: none; }

.product-attributes-input .textbox { width: 300px; }

.product-attributes-input textarea {
    height: 150px;
    width: 300px;
}

/* WARNINGS */

.system-warnings ul { padding-left: 5px; }

.system-warnings .inprogress,
.system-warnings .pass,
.system-warnings .fail,
.system-warnings .warning {
    display: table-cell;
    font-size: 120%;
    padding: 10px 40px;
    vertical-align: middle;
}

.system-warnings .inprogress { background: transparent url(images/warnings-ajax-loader.gif) no-repeat 0% 50%; }

.system-warnings .pass { background: transparent url(images/warnings-tick.png) no-repeat 0% 50%; }

.system-warnings .fail { background: transparent url(images/warnings-cross.png) no-repeat 0% 50%; }

.system-warnings .warning { background: transparent url(images/warnings-warning.png) no-repeat 0% 50%; }

.system-warnings .error { color: Red; }

.system-warnings .suggestion {
    color: Red;
    font-size: 120%;
    font-style: italic;
}

.system-warnings ul { list-style: none; }

.warning.limit-per-store,
.warning.acl-rules {
    font-style: italic;
    margin: 0 0 10px;
}

.throbber-header { font-size: 145%; }

.throbber { display: none; }

.throbber .curtain {
    background-color: #3e4d45;
    filter: alpha(opacity=90);
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: fixed;
    top: 0;
    width: 100%;
}

.throbber .curtain-content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.throbber .curtain-content div {
    color: #FFF;
    padding: 250px;
    text-align: center;
}

/* PLUGIN BUTTONS */

.plugin-button {
    -moz-border-radius: 3px;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -webkit-border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    background-color: whitesmoke;
    *background-color: #e6e6e6; /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    background-image: -moz-linear-gradient(top, white, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, white, #e6e6e6);
    background-image: -o-linear-gradient(top, white, #e6e6e6);
    background-image: linear-gradient(to bottom, white, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #c6c6c6;
    *border: 0;
    border-bottom-color: #acacac;
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    *display: inline; /* IE7 inline-block hack */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    font-size: 13px;
    line-height: 18px;
    *line-height: 18px;
    margin-bottom: 0;
    *margin-left: .3em;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    *zoom: 1;
}

.plugin-button:hover {
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    -webkit-transition: background-position 0.1s linear;
    background-color: #e6e6e6;
    *background-color: #d9d9d9; /* Buttons in IE7 don't get borders, so darken on hover */
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear;
}

.plugin-button-edit,
.plugin-button-configure,
.install-plugin-link {
    background-color: #5bb75b;
    *background-color: #51a351; /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.plugin-button-edit:hover,
.plugin-button-configure:hover,
.install-plugin-link:hover {
    background-color: #51a351;
    *background-color: #499249;
    color: white;
}

/*AJAX loading*/

#ajaxBusy {
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}

#ajaxBusy span {
    background: url(images/ajax-loading.gif) no-repeat;
    float: right;
    height: 40px;
    margin: 9px 9px 0px 0px;
    width: 40px;
}

.please-wait {
    background: url('images/ajax_loader_small.gif') no-repeat;
    padding-left: 20px;
}

/* KendoUI overrides */

body .k-button {
    color: inherit !important;
    font-weight: 400;
    text-decoration: none;
}

.form-actions {
    overflow: hidden;
    padding-top: 1em;
}

.form-actions .k-button,
.form-actions .k-button button {
    float: right;
    margin-left: 10px;
    padding: 2px 15px;
}

.k-state-active,
.k-state-active:hover,
.k-active-filter,
.k-tabstrip .k-state-active { border-color: #c5c5c5 !important; }

.k-grid table tr:hover > td { background: #e3e3e3 !important; }

/* etc */

.customer-info-tab .gender { display: inline-block; }

.customer-info-tab ul.option-list {
    margin: 0px;
    padding: 0px;
}

.customer-info-tab ul.option-list li { list-style: none; }

.address-block ul.option-list {
    margin: 0px;
    padding: 0px;
}

.address-block ul.option-list li { list-style: none; }

.required-product-names {
    display: block;
    margin-top: 5px;
}