/*TABLET*/
@media screen and (max-width: 1000px) {
    body {
        font-size: 13px;
        line-height: 18px
    }

    .headpage {
        margin: 0 2%;
        width: 96%
    }

    .mainpage {
        margin-bottom: 15px;
        width: 100%;
    }

    .menuloc { display: block }

    .menu_ctn { width: 96% !important }

    .sub.mobile { display: block !important }

    .tool_rightbar { display: none }

    .rightlist_banner { display: none }

    .top_news .hotnews {
        margin-right: 1.5%;
        padding-right: 1.5%;
        width: 66%;
    }

    .top_news .listnews { width: 30% }

    .top_news .newsimg {
        display: block;
        height: 100%;
        width: 100%;
    }

    .top_news .listnews .toplist img { display: none }

    .top_news .listnews a { font-size: 14px }

    .nav, .large_banner, .tophead, .header, .footer, .playicn {
        display: none;
        width: 0
    }

    .top_news {
        margin: 20px 0 15px 0;
        width: 100%
    }

    .copyright {
        border-top: 1px solid #e4e4e4;
        overflow: hidden;
        width: 100%;
    }

    .multibox {
        margin: 20px 0 0 0;
        width: 100%;
    }

    .multibox li {
        margin-right: 1%;
        width: 19.2%;
    }

    .newsbox .contbox .newscont {
        margin-right: 1%;
        padding-right: 1%;
        width: 65%;
    }

    .newsbox .contbox .listrecent { width: 32% }

    .mainpage .leftcol .newsbox .contbox h3, .corner_sharing .blogtitle { font-size: 14px }

    .mainpage .leftcol .newsbox .contbox .boximg {
        height: 120px;
        width: 160px;
    }

    .mainpage .leftcol .newsbox .contbox .boximg img {
        display: block;
        height: 100%;
        width: 100%;
    }

    .top_news .hotnews .content { margin: 5px 0 }

    .top_news .hotnews .recent_news, .top_news .hotnews .recent_news a {
        color: #666;
        font-size: 13px;
    }

    .corner_sharing {
        margin: 20px 0 10px;
        width: 100%;
    }

    .corner_sharing li {
        margin-right: 4%;
        width: 48%;
    }

    .corner_sharing li .blog_thumb {
        height: 102px;
        width: 148px;
    }

    .copyright .leftcol { font-size: 12px }

    .toolbox.inpage {
        display: block;
        margin-bottom: 5px
    }

    .botarr { background-position: -45px -62px }

    .listnews .slimScrollDiv, .listnews #othernews {
        height: auto !important;
        width: 100% !important;
    }

    /*Cate detail*/
    .cate_detail {
        float: none;
        margin-right: 167px;
        width: auto;
    }

    .cate_detail { margin-top: 0 }

    /*News detail*/
    .news_detail { margin-top: 0 }

    .detailnav {
        display: none;
        width: 0
    }

    .other_news li {
        margin-right: 2.5%;
        width: 31.5%;
    }

    .other_news li:nth-child(3) { margin-right: 0; }

    .other_news li:nth-child(4) { display: none; }

	
    /*Video*/
    .mainpage.videoctn { margin-top: 15px }

    .video_detail iframe {
        height: 550px;
        width: 100%;
    }	
}

/*MOBILE*/

@media screen and (min-width: 600px) and (max-width: 800px) {
    .top_news { margin: 15px 0 }

    .multibox li {
        margin-right: 2%;
        width: 23.5%;
    }

    .multibox li:last-child { display: none }

    .multibox li:nth-child(4) { margin-right: 0 }

    .newsbox .contbox .listrecent li { margin-bottom: 5px }

    .copyright .leftcol {
        font-size: 12px;
        width: auto
    }

    /*News detail*/
    .other_news li {
        margin-right: 2%;
        width: 23.5%;
    }

    .other_news li:nth-child(3) { margin-right: 2%; }

    .other_news li:nth-child(4) {
        display: block;
        margin-right: 0;
    }

    .mainpage .sidebar {
        display: none;
        width: 0
    }

    .mainpage .leftcol { width: 100% }

    .leftcol .other_video {
        display: block;
        margin-top: 25px
    }

    .leftcol .other_video li {
        float: left;
        margin-right: 2%;
        width: 49%;
    }
}

.leftcol .other_video li:nth-child(2n) { margin-right: 0; }

@media screen and (min-width: 401px) and (max-width: 600px) {
    .top_news { margin: 14px 0 30px 0 }

    .listrecent a { font-size: 13px }

    .multibox li {
        margin-right: 2%;
        width: 32%;
    }

    .multibox li:last-child, .multibox li:nth-child(4) { display: none }

    .multibox li:nth-child(3) { margin-right: 0 }

    .copyright { text-align: center }

    .copyright .logo {
        float: none;
        margin: 10px auto
    }

    .newsbox .contbox .listrecent li { margin-bottom: 0 }

    .copyright .leftcol { font-size: 12px }

    .top_news .listnews { max-height: 320px }

    .mainpage .sidebar {
        display: none;
        width: 0
    }

    .mainpage .leftcol { width: 100% }

    .mainpage .leftcol .newsbox { margin: 15px 0; }

    /*News detail*/
    .other_news li {
        margin-right: 2%;
        width: 32%;
    }

    .other_news li:last-child { display: none }

    .other_news li:nth-child(3) { margin-right: 0 }

    .rightside { display: none }

    .searchpage { margin-top: 0 }

    .searchpage form label { font-size: 12px }

    .cate_detail { width: 100% }

    .video_detail iframe {
        height: 300px;
        width: 100%;
    }

    .info_content .username {
        margin: 0;
        padding-top: 10px;
    }

    .leftcol .other_video {
        display: block;
        margin-top: 25px;
    }

    .leftcol .other_video li {
        float: left;
        margin-right: 2%;
        width: 49%;
    }

    .leftcol .other_video li:nth-child(2n) { margin-right: 0; }
}

@media screen and (max-width: 400px) {
    .top_news { margin: 9px 0 15px 0 }

    .multibox { margin: 0 }

    .multibox li {
        margin-bottom: 15px;
        margin-right: 2%;
        width: 49%;
    }

    .multibox li:last-child { display: none }

    .multibox li:nth-child(2n) { margin-right: 0 }

    .top_news .hotnews, .newsbox .contbox .newscont {
        border-right: 0;
        float: none;
        margin-right: 0;
        padding-right: 0;
        width: 100%;
    }

    .top_news .listnews {
        border-top: 1px dashed #e4e4e4;
        margin: 5px 0 10px;
        padding-top: 8px;
        width: 100%;
    }

    .top_news .listnews .toplist { margin-bottom: 8px; }

    .top_news .listnews li { padding: 8px 0; }

    .mainpage .leftcol .newsbox .contbox .boximg {
        float: none;
        height: 100%;
        width: 100%;
    }

    .newsbox .contbox .listrecent {
        margin-top: 15px;
        width: 100%;
    }

    .mainpage .leftcol .newsbox .contbox h3, .corner_sharing .blogtitle { font-size: 14px; }

    .mainpage .leftcol .newsbox { margin: 10px 0; }

    .newsbox .contbox .newscont .detail { margin-top: 10px }

    .corner_sharing li .blog_thumb {
        float: none;
        margin: 0
    }

    .corner_sharing li:nth-child(2n) { margin-right: 0 }

    .corner_sharing .detailtxt {
        margin-left: 0;
        margin-top: 10px;
    }

    .corner_sharing li {
        margin-right: 4%;
        width: 48%;
    }

    .copyright { text-align: center }

    .copyright .logo {
        float: none;
        margin: 10px auto
    }

    .caption { display: block }

    .toolbox.inpage { margin: 0 0 25px 0 }

    .listnews .slimScrollDiv, .listnews #othernews {
        height: auto !important;
        width: 100% !important;
    }

    .corner_sharing li .blog_thumb img { width: 100% }

    .mainpage .sidebar {
        display: none;
        width: 0
    }

    .mainpage .leftcol { width: 100% }

    .top_news .listnews a { font-size: 12px }

    /*Cate detail*/
    .rightside { display: none }

    .cate_detail { width: 100% }

    .cate_detail .top_cate .thumb_topcate {
        float: none;
        margin-bottom: 5px;
        width: 100%;
    }

    .news_detail .content_box .ctn { width: 100% }

    /*News detail*/
    .other_news li {
        margin-right: 2%;
        width: 49%;
    }

    .other_news li:nth-child(2n) { margin-right: 0 }

    .other_news li:last-child { display: block }

    .other_news li:nth-child(3) { margin-right: 2% }

    /*Search*/
    .searchpage { margin-top: 0 }

    .searchpage form label { font-size: 12px }

    /*Video*/
    .mainpage.videoctn { margin-top: 15px }

    .leftcol .other_video li {
        margin-right: 2%;
        width: 48%;
    }

    .leftcol .other_video li:nth-child(2n) { margin-right: 0 }

    .leftcol .other_video li .videothumb {
        float: none;
        height: 100%;
        margin-bottom: 5px;
        width: 100%;
    }

    .leftcol .other_video .datecreate { margin: 0 }

    .video_detail iframe {
        height: 300px;
        width: 100%;
    }

    .info_content .username {
        margin: 0;
        padding-top: 10px;
    }

    .leftcol .other_video {
        display: block;
        margin-top: 25px;
    }

    .other_video li img { height: 135px; }

    /*Video*/
    .loginpage {
        border: 0 none;
        padding: 0;
        width: 100%
    }

    .loginpage h1 { text-align: center }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .logo_sprt, .logo {
        background-image: url(../images/logo_sprt2x.png);
        background-repeat: no-repeat;
        background-size: 432px 134px
    }

    .sprt, .icn, .headrib {
        background-image: url(../images/sprt2x.png);
        background-repeat: no-repeat;
        background-size: 326px 101px
    }
}