/* ----------------------------------------------
[ Reset styles ]
------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

ol li { display: list-item; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    border-collapse: collapse;
    border-spacing: 0;
}

img { vertical-align: bottom; }

html, body { height: 100% }

body {
    color: #333;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
}

input, textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img { object-fit: cover; }

a {
    color: #333;
    outline: none;
    text-decoration: none;
}

a:hover { color: #006ba0; }

.fl { float: left; }

.fr { float: right; }

.clr {
    clear: both;
    display: block;
    height: 0;
}

.clearfix:after, .clearfix:before {
    clear: both;
    content: "";
    display: table;
}

.loading {
    background-color: transparent;
    background-image: url(../images/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
}

.tool_rightbar {
    bottom: 50px;
    position: fixed;
    right: 0;
    transition: 0 none;
    width: 40px;
    z-index: 99;
}

.gotopbtn {
    background-position: -72px -31px;
    display: block;
    height: 32px;
    width: 32px;
}

.gotopbtn:hover { background-position: -169px -31px; }

.homebtn {
    background-position: -136px -31px;
    display: block;
    height: 32px;
    margin: 5px 0;
    width: 32px;
}

.homebtn:hover { background-position: -233px -31px; }

.emailbtn {
    background-position: -104px -31px;
    display: block;
    height: 32px;
    width: 32px;
}

.emailbtn:hover { background-position: -201px -31px; }

.logo_sprt, .logo {
    background-image: url(../images/logo_sprt.png);
    background-repeat: no-repeat
}

.sprt, .icn, .headrib {
    background-image: url(../images/sprt.png);
    background-repeat: no-repeat
}

.wrapper { width: 100% }

/*HEADER*/

.header { background: #f6f6f6; }

.sub.mobile { display: none !important }

.inner {
    margin: 0 auto;
    width: 980px;
}

.header .infobar {
    display: block;
    height: 32px;
}

.header .mycontact {
    float: left;
    margin-top: 7px;
}

.header .myinfo {
    cursor: pointer;
    float: right;
    position: relative;
}

.header .avt {
    border: 1px solid #f6f6f6;
    border-radius: 100%;
    display: inline-block;
    height: 25px;
    margin: 3px 3px 0 0;
    transition: border 0.2 ease 0s;
    vertical-align: -7px;
    width: 25px;
}

.phone_icn {
    background-position: 0 -63px;
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    vertical-align: -4px;
    width: 18px;
}

.botarr {
    background-position: -45px -67px;
    display: inline-block;
    height: 4px;
    vertical-align: 2px;
    width: 7px;
}

.menuloc {
    cursor: pointer;
    display: none;
    float: right;
    height: 35px;
    margin: 0 10px 0 0;
    padding: 10px 10px 0 0;
    position: relative;
}

.menuloc.selected .sub_info { display: block }

.header.sub .menuloc .sub_info .toparr { right: 19px }

.menuloc.selected .sub_info ul li a { padding: 8px 20px }

.bltoparr {
    background-position: -37px -90px;
    display: block;
    height: 4px;
    position: absolute;
    right: 19px;
    top: -3px;
    width: 7px;
}

.navcate {
    background-position: 0 -36px;
    display: block;
    height: 24px;
    width: 24px;
}

.headpage {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 980px;
}

.tophead { margin: 10px 0 }

.tophead .topbanner { float: right }

.logo {
    display: block;
    float: left;
    height: 58px;
    margin-top: 20px;
    width: 216px;
}

.sub_info {
    display: none;
    position: absolute;
    right: 0;
    top: 33px;
    z-index: 99;
}

.myinfo.selected .sub_info { display: block }

.myinfo.selected .avt, .myinfo:hover .avt, .header.sub .myinfo.selected .avt, .header.sub .myinfo:hover .avt { border: 1px solid #006ba0 }

.sub_info ul {
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(163, 188, 210, 0.5);
    transition: opacity 0.3s ease 0s;
}

.sub_info ul li a {
    border-bottom: 1px solid #e4f0f9;
    display: block;
    font-size: 14px;
    padding: 6px 20px;
    white-space: nowrap;
}

.sub_info ul li a:hover { background-color: #e4f0f9; }

.toparr {
    background-position: -45px -90px;
    display: block;
    height: 4px;
    position: absolute;
    right: 19px;
    top: -3px;
    width: 7px;
}

/*Header sub*/

.header.sub {
    background: #000;
    display: block;
    width: 100%
}

.header.sub .logo {
    background-position: -224px -76px;
    height: 25px;
    margin-top: 12px;
    width: 132px;
}

.header.sub .infobar {
    display: block;
    height: 45px;
    margin: 0 auto
}

.header.sub .avt {
    border: 1px solid #000;
    height: 30px;
    margin: 5px 3px 0 0;
    width: 30px;
}

.header.sub .sub_info { top: 45px }

.header.sub .sub_info .toparr { right: 22px }

.header.sub .menu_ctn {
    margin: 0 auto;
    width: 980px;
}

.header.sub .botarr { background-position: -45px -62px }

.detailnav {
    float: left;
    line-height: 45px;
    margin-left: 105px;
}

.detailnav li {
    float: left;
    margin-right: 20px;
}

.detailnav li a {
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    padding: 4px 10px;
}

.detailnav li a:hover, .detailnav li a.active { background-color: #36bdda }

/*MENU*/

.nav {
    border: 1px solid #e4e4e4;
    border-width: 1px 0;
    height: 28px;
    line-height: 28px;
    padding: 5px 0;
}

.nav .search_news {
    float: right;
    position: relative
}

.nav .search_news .searchinput {
    border: 1px solid #e4e4e4;
    color: #999;
    height: 28px;
    padding: 5px;
    width: 200px;
}

.searchicn {
    background-position: -23px -63px;
    display: block;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 15px;
}

.nav li {
    display: inline-block;
    margin-right: 30px
}

.nav li a {
    font-size: 14px;
    padding: 0 5px 9px 5px;
    text-transform: uppercase;
    transition: all 0.1s ease;
}

.nav li a:hover, .nav li a.active {
    border-bottom: 3px solid #36bdda;
    color: #333
}

.top_news {
    float: left;
    margin: 10px 0 20px;
    width: 100%
}

.top_news .hotnews {
    border-right: 1px solid #e4e4e4;
    display: block;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
    width: 470px;
}

.top_news .newsimg {
    display: block;
    height: 260px;
    margin-bottom: 10px;
    width: 470px;
}

.top_news .hotnews h1 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.top_news .hotnews .content {
    line-height: 18px;
    margin: 3px 0 5px;
    max-height: 55px;
    overflow: hidden;
}

.top_news .hotnews .recent_news, .top_news .hotnews .recent_news a {
    color: #555;
    font-size: 11px;
}

.top_news .hotnews .recent_news a:hover { text-decoration: underline }

em {
    background-color: #888;
    border-radius: 100%;
    display: inline-block;
    height: 4px;
    margin-right: 5px;
    vertical-align: middle;
    width: 4px;
}

.top_news .listnews {
    display: block;
    float: left;
    max-height: 372px;
    overflow: hidden;
    width: 178px;
}

.top_news .listnews .toplist { margin-bottom: 5px }

.caption {
    color: #36bdda;
    display: none;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;
}

.top_news .listnews .toplist img {
    height: 107px;
    margin-bottom: 5px;
    width: 178px;
}

.top_news .listnews a {
    font-weight: bold;
    line-height: 18px
}

.top_news .listnews li {
    border-top: 1px dashed #e4e4e4;
    list-style: none;
    padding: 5px 0;
}

.rightlist_banner {
    float: right;
    width: 300px
}

.rightlist_banner a:first-child {
    display: block;
    margin-bottom: 10px
}

.rightlist_banner a:first-child img {
    display: block;
    height: 250px;
    width: 300px;
}

.rightlist_banner a:last-child img {
    display: block;
    height: 120px;
    width: 300px;
}

.toolbox.inpage {
    clear: both;
    display: none
}

.toolbox.inpage table, .toolbox.inpage table td {
    border: 1px solid #e4e4e4;
    text-align: center
}

.toolbox.inpage table td { padding: 5px 0 }

.toolbox.inpage table td:hover { background: #eff6f7 }

.toolbox.inpage .icn { margin: 0 auto 5px }

.multibox {
    border-top: 8px solid #36bdda;
    float: left;
    margin-top: 5px;
    width: 100%
}

.multibox h1 a {
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    left: 25px;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    top: -15px;
}

.multibox ul { margin-top: -5px }

.multibox li {
    display: block;
    float: left;
    margin-right: 1%;
    max-height: 177px;
    overflow: hidden;
    position: relative;
    width: 19.2%;
}

.multibox li img {
    display: block;
    height: 135px;
    margin-bottom: 3px;
    width: 185px;
}

.multibox li:last-child { margin-right: 0 }

.multibox li h2 {
    display: block;
    font-weight: bold;
}

.playicn {
    background-position: -60px -64px;
    display: block;
    height: 36px;
    left: 40%;
    opacity: 0.7;
    position: absolute;
    top: 55px;
    transition: opacity 0.5s ease;
    width: 36px;
}

.multibox li a:hover .playicn { opacity: 1 }

/*Mainpage*/

.large_banner {
    float: left;
    margin-top: 15px;
}

.mainpage {
    float: left;
    margin-top: 15px;
    width: 980px;
}

.mainpage .leftcol { margin-right: 310px; }

.mainpage .leftcol .newsbox {
    float: left;
    margin: 20px 0;
}

.mainpage .leftcol .newsbox h2, .corner_sharing h2 {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 5px;
}

.mainpage .leftcol .newsbox h2 a, .corner_sharing h2 a {
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 4px 0;
    text-transform: uppercase;
}

.mainpage .leftcol .newsbox .contbox {
    float: left;
    margin-top: 15px;
}

.mainpage .leftcol .newsbox .contbox h3 {
    font-size: 13px;
    margin-bottom: 5px
}

.mainpage .leftcol .newsbox .contbox .boximg {
    display: block;
    float: left;
    height: 120px;
    margin-right: 10px;
    width: 160px;
}

.newsbox .contbox .newscont {
    border-right: 1px solid #e4e4e4;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    width: 432px;
}

.newsbox .contbox .newscont .detail {
    display: block;
    line-height: 18px
}

.newsbox .contbox .listrecent {
    display: block;
    float: right;
    width: 215px;
}

.newsbox .contbox .listrecent li {
    font-weight: bold;
    list-style: none;
    margin-bottom: 5px;
}

.newsbox .contbox .listrecent li em { background: #333 }

.corner_sharing {
    display: block;
    float: left;
    margin: 20px 0;
    width: 670px;
}

.corner_sharing li {
    float: left;
    margin-right: 10px;
    margin-top: 15px;
    width: 325px;
}

.corner_sharing li:nth-child(2n) { margin-right: 0 }

.corner_sharing li .blog_thumb {
    float: left;
    height: 102px;
    margin-right: 10px;
    width: 148px;
}

.corner_sharing li .blog_thumb img {
    display: block;
    height: 102px;
    width: 148px;
}

.corner_sharing .detailtxt {
    display: block;
    max-height: 93px;
    overflow: hidden;
}

.corner_sharing .blogtitle {
    font-size: 13px;
    font-weight: bold;
    line-height: 18px
}

.corner_sharing .content { margin-top: 2px }

/*Sidebar*/

.mainpage .sidebar {
    display: block;
    float: right;
    width: 290px;
}

.toolbox { margin: 10px 0 15px }

.toolbox h2 {
    background: #36bdda;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
}

.toolbox li:first-child a {
    border-width: 0 1px 1px 1px;
    width: 72px;
}

.toolbox li a {
    border: 1px solid #e4e4e4;
    border-width: 0 1px 1px 0;
    display: block;
    float: left;
    padding: 8px 0 5px;
    text-align: center;
    transition: background 0.2s ease;
    width: 71px;
}

.toolbox li .txt {
    font-size: 9px;
    text-transform: uppercase
}

.toolbox li .icn { margin: 0 auto 5px }

.toolbox li a:hover { background: #eff6f7 }

.airticket {
    background-position: -104px -66px;
    display: block;
    height: 40px;
    width: 36px;
}

.busticket {
    background-position: -146px -66px;
    display: block;
    height: 40px;
    width: 26px;
}

.hotelticket {
    background-position: -181px -64px;
    display: block;
    height: 40px;
    width: 28px;
}

.tourticket {
    background-position: -216px -64px;
    display: block;
    height: 40px;
    width: 38px;
}
	
	
.boxctn {
    border: 1px solid #e4e4e4;
    margin-bottom: 15px;
    padding: 10px;
}

.boxctn h2 {
    font-size: 14px;
    text-transform: uppercase;
}

.boxctn .bigimg { margin: 10px 0 8px }

.boxctn .thumb {
    display: block;
    height: 135px;
    margin-bottom: 17px;
    position: relative;
    width: 268px;
}

.boxctn .txlink {
    display: block;
    font-weight: bold
}

.boxctn .listboxnews {
    border-top: 1px dotted #e4e4e4;
    margin-top: 10px;
    padding-top: 10px;
}

.boxctn .listboxnews li {
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 5px
}

.rightarr {
    background-position: -45px -77px;
    display: inline-block;
    height: 9px;
    margin-right: 5px;
    width: 5px;
}

.headrib {
    background-position: -232px 0;
    display: block;
    height: 19px;
    width: 94px;
}

.boxctn .headtitle { color: #de4206 }

.boxctn .linetxt {
    background-color: rgba(0, 0, 0, 0.8);
    color: #dedede;
    left: 0;
    overflow: hidden;
    padding: 3px 5px;
    position: absolute;
    text-overflow: ellipsis;
    top: 121px;
    white-space: nowrap;
    width: 258px;
}

.boxctn .subimg li {
    display: inline-block;
    margin-right: 4px;
}

.boxctn .subimg li:last-child { margin-right: 0 }

.sidebanner { margin-top: 15px }

.sidebanner a img { margin-bottom: 10px; }

.sidebanner a:first-child img {
    height: 124px;
    width: 292px;
}

.sidebanner a:last-child img {
    height: 243px;
    width: 292px;
}

/*Footer*/

.footer {
    background: #f8f8f8;
    border-top: 1px solid #e4e4e4;
    float: left;
    margin: 15px auto 0;
    width: 980px;
}

.footer .inner_footer { padding: 20px }

.footer .inner_footer .subcate {
    float: left;
    margin-left: 95px
}

.footer .inner_footer .subcate:first-child { margin-left: 30px }

.footer .inner_footer .subcate li { margin-top: 5px }

.footer .inner_footer .head {
    font-size: 13px;
    font-weight: bold
}

/*Copyright*/

.copyright {
    clear: both;
    padding: 10px 0;
}

.copyright .logo {
    background-position: 0 -76px;
    float: right;
    height: 46px;
    margin-top: 15px;
    width: 173px;
}

.copyright .leftcol {
    font-size: 13px;
    margin-bottom: 3px
}

/*Categlory*/

.cate_detail {
    float: left;
    width: 500px;
}

.cate_detail h1 a {
    color: #36bdda;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.cate_detail .subcate {
    font-size: 14px;
    margin-top: 8px;
}

.cate_detail .subcate a.selected { font-weight: bold }

.cate_detail .subcate span { margin: 0 5px }

.cate_detail .top_cate {
    background: #f4f4f4;
    float: left;
    margin-top: 12px;
}

.cate_detail .top_cate .inner_cate { padding: 10px }

.cate_detail .top_cate .thumb_topcate {
    display: block;
    float: left;
    margin-right: 10px;
    width: 50%
}

.cate_detail .top_cate .thumb_topcate img {
    display: block;
    width: 100%;
}

.cate_detail .top_cate .topcate_dt h2 {
    font-size: 16px;
    margin-bottom: 5px
}

.rightside {
    display: block;
    float: right;
    margin-top: 56px;
    width: 157px;
}

.subside_banner {
    margin-top: 15px;
    max-height: 600px;
    overflow: hidden;
    width: 158px;
}

.topcate_view h2 {
    border: 1px solid #e4e4e4;
    border-width: 1px 0;
    font-weight: bold;
    padding: 5px 0;
    text-transform: uppercase;
}

.topcate_view li { border-bottom: 1px dashed #e4e4e4 }

.topcate_view li:last-child { border-bottom: 0 none }

.topcate_view li a {
    display: block;
    font-weight: bold;
    padding: 10px 0;
}

.topcate_view img {
    display: block;
    height: 105px;
    margin-bottom: 3px;
    width: 157px;
}

.catebox {
    border-bottom: 1px solid #e4e4e4;
    float: left;
    margin-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.catebox .newscont {
    float: left;
    width: 100%
}

.catebox .boximg {
    display: block;
    float: left;
    height: 105px;
    margin-right: 10px;
    width: 143px;
}

.catebox .newscont .detail h3 {
    font-size: 14px;
    margin-bottom: 5px
}

.viewmorebtn {
    border: 1px solid #e4e4e4;
    clear: both;
    display: block;
    font-weight: bold;
    margin: 15px auto 0;
    padding: 5px 0;
    text-align: center;
    width: 100px;
}

.viewmorebtn:hover {
    background: #36bdda;
    border-color: #27a5c0;
    color: #fff;
}

.news_detail {
    float: left;
    width: 100%;
}

.news_detail h1 a {
    color: #555;
    color: #36bdda;
    font-size: 15px;
    text-transform: uppercase;
}

.news_detail .title {
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 5px
}

.news_detail .desc {
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 10px;
    padding: 5px 0 0;
}

.news_detail .content_box {
    float: left;
    width: 100%;
}

.news_detail .content_box .ctn {
    display: block;
    float: left;
    width: 100%;
}

.news_detail .content_box .ctn img {
    margin: 0 0 5px;
    text-align: center;
    width: 100%;
}

.news_detail .content_box .ctn p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
}

.news_detail .content_box .ctn p em { display: none }

.news_detail .content_box .rightside { margin-top: 0 }

.news_detail .content_box .author {
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
}

._2pi8 { padding: 0 }

.faceshare {
    display: inline-block;
    height: 24px;
    vertical-align: top;
    width: 24px;
}

.related_news h2 {
    border: 1px solid #e4e4e4;
    border-width: 1px 0;
    padding: 5px 0;
    text-transform: uppercase;
}

.related_news li {
    border-top: 1px dashed #e4e4e4;
    padding: 8px 0;
}

.related_news li:first-child { border-top: 0 none }

.related_news li a { font-weight: bold }

.other_news {
    border-top: 1px solid #e4e4e4;
    float: left;
    margin-bottom: 20px;
}

.other_news h2 {
    font-size: 12px;
    margin: 5px 0 10px;
}

.other_news li {
    float: left;
    margin-right: 2%;
    overflow: hidden;
    width: 23.5%;
}

.other_news li:last-child { margin-right: 0; }

.other_news li img {
    display: block;
    height: 120px;
    margin-bottom: 3px;
    width: 100%;
}

.other_news li a {
    font-weight: bold;
    margin-top: 3px;
}

.comment {
    clear: both;
    float: left;
    margin: 15px 0;
    width: 100%
}

.comment h2 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase
}

.saleoff { margin-top: 10px }

.saleoff h2 {
    background: #fff;
    border: 1px solid #e4e4e4;
    border-width: 1px 0;
    font-weight: bold;
    padding: 5px 0;
    text-transform: uppercase;
}

.saleoff li { border-bottom: 1px dashed #e4e4e4; }

.saleoff li a {
    clear: both;
    display: block;
    height: 80px;
    padding: 10px 0;
}

.saleoff li a img {
    display: block;
    float: left;
    height: 80px;
    margin-right: 5px;
    width: 80px;
}

.saleoff li b {
    display: block;
    max-height: 70px;
    overflow: hidden;
}

.searchpage form {
    float: left;
    position: relative;
    width: 100%
}

.searchpage form .searchicn {
    left: 10px;
    top: 10px
}

.searchpage .searchinput {
    -webkit-appearance: none;
    border: 1px solid #e4e4e4;
    border-radius: 3px 0 0 3px;
    color: #333;
    display: block;
    float: left;
    font-size: 16px;
    height: 36px;
    line-height: 18px;
    outline: none;
    padding: 0 5px 0 30px;
    width: 70%;
}

.btn01 {
    background: #36bdda;
    border: 1px solid #36bdda;
    border-radius: 0 3px 3px 0;
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
    padding: 0 15px;
    text-align: center;
}

.btn01:hover {
    background: #28acc8;
    color: #fff
}

.searchpage form ul {
    clear: both;
    float: left;
    margin-top: 8px
}

.searchpage form li {
    float: left;
    margin-right: 15px
}

.searchpage .keysearch {
    border-bottom: 1px solid #e4e4e4;
    clear: both;
    float: left;
    font-size: 14px;
    margin-top: 25px;
    padding-bottom: 10px;
    width: 100%
}

.searchpage { float: left; }

.mainpage.videoctn { margin-top: 20px }

.videoboard { margin-top: 15px }

.videoboard .headtxt {
    color: #36bdda;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.video_detail iframe {
    height: 500px;
    width: 100%;
}

.videoboard .video_detail {
    background: #000;
    text-align: center;
    width: 100%;
}

.videoctn .video_title {
    font-size: 18px;
    font-weight: bold;
    m
}

.datecreate {
    color: #888;
    font-size: 12px;
    font-style: italic;
    margin: 5px 0;
}

.other_video h2 {
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.other_video h2 b {
    border-bottom: 3px solid #36bdda;
    padding-bottom: 8px
}

.other_video li {
    float: left;
    margin-bottom: 15px;
    width: 100%
}

.other_video li .videothumb {
    display: block;
    float: left;
    height: 85px;
    margin-right: 8px;
    width: 116px;
}

.other_video li a { font-weight: bold }

.other_video li img {
    display: block;
    height: 100%;
    width: 100%;
}

.other_video .datecreate { margin: 3px 0 0 0 }

.leftcol .other_video { display: none }

.infobox {
    display: block;
    min-height: 300px;
}

.info_content {
    float: left;
    width: 100%;
}

.info_content .avtthumb {
    display: block;
    float: left;
    height: 100px;
    margin-right: 15px;
    position: relative;
    transition: opacity 0.8s ease 0s;
    width: 100px;
}

.info_content .change_avt {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 100%;
    display: none;
    height: 102px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 102px;
}

.info_content .avtthumb:hover .change_avt {
    display: block;
    opacity: 1
}

.camera {
    background-position: -31px -34px;
    display: block;
    height: 26px;
    margin: 35px 0 0 35px;
    opacity: 0.5;
    width: 31px;
}

.camera:hover { opacity: 1 }

.blog_info {
    display: block;
    float: left;
    height: 80px;
    margin: 0 10px 0 0;
    width: 120px;
}

.info_content .avtthumb img {
    border: 1px solid #e4e4e4;
    border-radius: 100%;
    display: block;
    height: 100%;
    width: 100%;
}

.info_content .username {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px
}

.info_content .position {
    color: #ff0000;
    margin: 3px 0 0
}

.info_content .numblog { margin: 3px 0 6px }

.info_content .btn01 {
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
}

.infoblog {
    float: left;
    margin: 15px 0 30px;
    text-align: center;
    width: 100%;
}

.infoblog table { border-color: #e4e4e4 }

.infoblog th, .infoblog td {
    border-color: #e4e4e4;
    padding: 10px 15px;
    text-align: center
}

.infoblog td:first-child {
    font-size: 14px;
    text-align: left;
}

.infoblog td:first-child span {
    display: block;
    margin-top: 2%;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.infoblog th {
    font-size: 14px;
    font-weight: bold;
}

.infoblog .err { margin: 10px 0 0 }

.infoblog .err a {
    color: #006ba0;
    font-weight: bold;
}

.txthead {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 20px;
    text-align: center;
}

.writeblog_box {
    background: #e4f0f9;
    float: left;
    margin-bottom: 20px;
    width: 100%
}

.inner_writeblog {
    display: block;
    padding: 20px;
}

.writeblog_box label {
    display: block;
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.writeblog_box .textinput {
    -webkit-appearance: none;
    border: 1px solid #e4e4e4;
    color: #000;
    display: block;
    height: 30px;
    margin: 5px 0 10px;
    padding-left: 5px;
    width: 100%;
}

.writeblog_box select {
    border: 1px solid #e4e4e4;
    display: block;
    height: 25px;
    margin: 5px 0 10px;
    margin-left: 10px;
    width: 50%;
}

.writeblog_box textarea#Short { border: 1px solid #e4e4e4; }

.writeblog_box .mce-panel { border-color: #e4e4e4; }

.writeblog_box .contentblog {
    -webkit-appearance: none;
    border: 1px solid #e4e4e4;
    color: #000;
    display: block;
    margin: 5px 0 10px;
    padding: 5px;
    resize: none;
    width: 100%;
}

.writeblogact { margin: 15px 0 0; }

.writeblogact .btn01 {
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}

.writeblogact .btn01.cancel {
    background: #de4206;
    border: 1px solid #de4206
}

.writeblogact .btn01.cancel:hover { background: #c8400c }

.itembox {
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    margin: 15px 0;
    padding: 15px;
}

.itembox h2 {
    font-size: 15px;
    font-weight: bold;
}

.itembox p { margin-top: 8px }

.itembox input { vertical-align: -1px }

.itembox .btn01 {
    display: inline-block;
    float: none;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    padding: 0 10px;
    width: 85px;
}

.page404 {
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    line-height: 30px;
    padding: 50px 20px;
    text-align: center;
}

.page404 h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase
}

.page404 p { font-size: 14px }

.page404 p a {
    color: #006ba0;
    font-weight: bold;
    text-decoration: underline
}

.multibox.erorrpage {
    border-top: 0 none;
    margin: 15px 0
}

.multibox.erorrpage .hotnews {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 15px;
    text-transform: uppercase;
}

.loginpage {
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    margin: 15px auto;
    padding: 15px;
    width: 350px;
}

.loginpage h1 {
    color: #555;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.loginpage .txtinput {
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    display: block;
    height: 33px;
    line-height: 33px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.loginpage .actbtn { margin: 10px 0 }

.loginpage.reg .regbtn {
    margin: 0;
    width: 100%;
}

.loginpage.reg .actbtn { margin: 10px 0 0 }

.loginpage .errtxt {
    color: #ff0000;
    margin-top: 10px
}

.subact .checkbox {
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: -2px
}

.subact .forgetpw { float: right; }

.popup .actbtn { margin: 12px 0 }

.loginbtn {
    background: #36bdda;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.loginbtn:hover {
    background: #44c8e4;
    color: #fff
}

.facelogin {
    display: inline-block;
    height: 32px;
    margin-left: 6px;
    transition: opacity 0.8s ease 0s;
    vertical-align: middle;
    width: 32px;
}

.facelogin:hover { background-position: -35px 0 }

.newreg { float: right }

.regbtn {
    background: #01a260;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    margin-left: 8px;
    text-align: center;
    vertical-align: middle;
    width: 80px;
}

.regbtn:hover {
    background: #3fbe8a;
    color: #fff
}

.time_post {
    color: #999;
    display: block;
    font-size: 12px;
    margin: 5px 0;
}

.listctn {
    clear: both;
    margin: 0 0 15px;
}

.listctn h2 {
    font-size: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.listctn li {
    clear: both;
    float: left;
    margin-top: 10px;
}

.listctn .thumbrelatenew {
    float: left;
    margin-right: 10px
}

.listctn .otherimg {
    display: block;
    height: 80px;
    width: 80px;
}

.listctn .titlenews {
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
}

.pluginButton {
    background: #5d7dae !important;
    height: 25px !important;
    line-height: 25px !important;
    padding: 0 10px !important;
    text-shadow: none !important;
}

.pluginButton:hover { background: #3653a8 !important; }

._2pi8 { padding: 0 !important; }

/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error { color: #ff0000; }

.field-validation-valid { display: none; }

.input-validation-error {
    background-color: #ffeeee;
    border: 1px solid #ff0000;
}

.validation-summary-errors {
    color: #ff0000;
    font-weight: bold;
}

.validation-summary-valid { display: none; }

.regbtn, .loginbtn, .searchicn { border: 0px; }

.searchicn { background-color: white; }

.removefile { font-size: 18px; }

.AttachmentInsertAllBlock {
    margin-right: 30px;
    margin-top: 0;
}

.AttachmentEditor .AttachedFile,
.AttachmentEditor
.AttachmentInsertAllBlock {
    overflow: hidden;
    padding: 5px
             10px;
    vertical-align: middle;
    zoom: 1;
}

.AttachmentEditor
.AttachedFile#AttachedFileTemplate { display: none }

.AttachmentEditor .AttachedFile
.Thumbnail {
    background: #FFF;
    border: 1px
            solid #d7edfc;
    display: block;
    float: left;
    height: 54px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 54px;
}

.AttachmentEditor .AttachedFile .Thumbnail
img {
    margin: 0;
    max-height: 50px;
    max-width: 50px;
    padding: 0;
    vertical-align: middle;
    _height: 50px;
    _width: 50px;
}

.AttachmentEditor .AttachedFile .Thumbnail
.genericAttachment {
    background: transparent url('https://nhattao.com/styles/uiflex/xenforo/node-sprite.png') no-repeat -72px 0;
    display: block;
    height: 36px;
    margin: 7px;
    width: 36px;
}

.AttachmentEditor
.AttachmentText { margin-left: 64px }

.AttachmentEditor .AttachedFile
.Filename { }

.AttachmentEditor .secondaryContent
.label {
    color: rgb(150, 150, 150);
    font-size: 11px;
    margin-bottom: 2px;
}

.AttachmentEditor .secondaryContent
.controls { line-height: 25px }

.AttachmentEditor .AttachedFile
.controls { zoom: 1 }

.AttachmentEditor .AttachedFile .controls:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden
}

.AttachmentEditor .AttachedFile
.ProgressMeter {
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #FFF;
    border: 1px
            solid #a5cae4;
    border-radius: 4px;
    display: block;
    font-size: 14pt;
    line-height: 26px;
    margin-right: 75px;
    margin-top: 4px;
    padding: 2px;
}

.AttachmentEditor .AttachedFile .ProgressMeter
.ProgressGraphic {
    background: #6cb2e4 url('https://nhattao.com/styles/uiflex/xenforo/gradients/category-23px-light.png') repeat-x top;
    display: inline-block;
    height: 26px;
    text-align: right;
    width: 0%;
}

.AttachmentEditor .AttachedFile .ProgressMeter
.ProgressCounter {
    display: inline-block;
    height: 26px;
    padding: 0
             10px
}

.AttachmentEditor .AttachedFile .ProgressMeter .ProgressGraphic
.ProgressCounter { color: #f0f7fc }

.AttachmentEditor .AttachedFile .AttachmentDeleter,
.AttachmentEditor .AttachedFile
.AttachmentCanceller {
    display: none;
    float: right;
}

.AttachmentEditor
.AttachmentInsertAllBlock { display: none }

.AttachmentEditor .AttachmentInsertAllBlock
span {
    background: #FFF url('https://nhattao.com/styles/uiflex/xenforo/widgets/image-attachments.png') no-repeat center;
    border: 1px
            solid #d7edfc;
    display: block;
    float: left;
    height: 34px;
    margin-right: 10px;
    width: 54px;
}

.AttachmentEditor
.AttachmentDeleteAll { float: right }

.swfupload {
    position: absolute;
    z-index: 1
}

.xenOverlay.attachmentUploader { max-width: 500px }

.attachmentUploader
#ctrl_upload {
    margin: 2px
            auto 5px
}

.attachmentUploader .attachmentConstraints
dl {
    font-size: 11px;
    margin-top: 2px;
}

.previewBox {
    display: none;
    margin-bottom: 0 5px 20px 5px;
}

.cate_detail .subcate a:not(:last-child)::after { content: " | "; }

.pager {
    float: right;
    left: -50%;
    margin-bottom: 2em;
    position: relative;
    text-align: left;
}

.pager ul {
    left: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.pager li {
    float: left;
    margin: 0 5px;
}

.pager li a {
    border: 1px solid #e4e4e4;
    clear: both;
    display: block;
    font-weight: bold;
    margin: 15px auto 0;
    padding: 5px 0;
    text-align: center;
    width: 100px;
}

.pager li a:hover {
    background: #36bdda;
    border-color: #27a5c0;
    color: #fff;
}

.indicator {
    bottom: 0;
    display: none;
    height: 2em;
    left: 0;
    margin: auto;
    overflow: show;
    position: fixed;
    right: 0;
    top: 0;
    width: 2em;
    z-index: 999;
}

/* Transparent Overlay */

.indicator:before {
    background-color: rgba(0, 0, 0, 0.3);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

/* :not(:required) hides these rules from IE9 and below */

.indicator:not(:required) {
    background-color: transparent;
    border: 0;
    color: transparent;
    /* hide "loading..." text */
    font: 0/0 a;
    text-shadow: none;
}

.indicator:not(:required):after {
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    -webkit-animation: spinner 1500ms infinite linear;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    content: '';
    display: block;
    font-size: 10px;
    height: 1em;
    margin-top: -0.5em;
    width: 1em;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.pager li.current-page, .pager li.individual-page { display: none; }

.poll-vote-error {
    color: red;
    font-style: italic;
}

.other_news { width: 100%; }

.result {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error { color: #ff0000; }

.field-validation-valid { display: none; }

.input-validation-error {
    background-color: #ffeeee;
    border: 1px solid #ff0000;
}

.validation-summary-errors {
    color: #ff0000;
    font-weight: bold;
}

.validation-summary-valid { display: none; }

.regbtn, .loginbtn, .searchicn { border: 0px; }

.searchicn { background-color: white; }

.removefile { font-size: 18px; }

.AttachmentInsertAllBlock {
    margin-right: 30px;
    margin-top: 0;
}

.AttachmentEditor .AttachedFile,
.AttachmentEditor
.AttachmentInsertAllBlock {
    overflow: hidden;
    padding: 5px
             10px;
    vertical-align: middle;
    zoom: 1;
}

.AttachmentEditor
.AttachedFile#AttachedFileTemplate { display: none }

.AttachmentEditor .AttachedFile
.Thumbnail {
    background: #FFF;
    border: 1px
            solid #d7edfc;
    display: block;
    float: left;
    height: 54px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 54px;
}

.AttachmentEditor .AttachedFile .Thumbnail
img {
    margin: 0;
    max-height: 50px;
    max-width: 50px;
    padding: 0;
    vertical-align: middle;
    _height: 50px;
    _width: 50px;
}

.AttachmentEditor .AttachedFile .Thumbnail
.genericAttachment {
    background: transparent url('https://nhattao.com/styles/uiflex/xenforo/node-sprite.png') no-repeat -72px 0;
    display: block;
    height: 36px;
    margin: 7px;
    width: 36px;
}

.AttachmentEditor
.AttachmentText { margin-left: 64px }

.AttachmentEditor .AttachedFile
.Filename { }

.AttachmentEditor .secondaryContent
.label {
    color: rgb(150, 150, 150);
    font-size: 11px;
    margin-bottom: 2px;
}

.AttachmentEditor .secondaryContent
.controls { line-height: 25px }

.AttachmentEditor .AttachedFile
.controls { zoom: 1 }

.AttachmentEditor .AttachedFile .controls:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden
}

.AttachmentEditor .AttachedFile
.ProgressMeter {
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #FFF;
    border: 1px
            solid #a5cae4;
    border-radius: 4px;
    display: block;
    font-size: 14pt;
    line-height: 26px;
    margin-right: 75px;
    margin-top: 4px;
    padding: 2px;
}

.AttachmentEditor .AttachedFile .ProgressMeter
.ProgressGraphic {
    background: #6cb2e4 url('https://nhattao.com/styles/uiflex/xenforo/gradients/category-23px-light.png') repeat-x top;
    display: inline-block;
    height: 26px;
    text-align: right;
    width: 0%;
}

.AttachmentEditor .AttachedFile .ProgressMeter
.ProgressCounter {
    display: inline-block;
    height: 26px;
    padding: 0
             10px
}

.AttachmentEditor .AttachedFile .ProgressMeter .ProgressGraphic
.ProgressCounter { color: #f0f7fc }

.AttachmentEditor .AttachedFile .AttachmentDeleter,
.AttachmentEditor .AttachedFile
.AttachmentCanceller {
    display: none;
    float: right;
}

.AttachmentEditor
.AttachmentInsertAllBlock { display: none }

.AttachmentEditor .AttachmentInsertAllBlock
span {
    background: #FFF url('https://nhattao.com/styles/uiflex/xenforo/widgets/image-attachments.png') no-repeat center;
    border: 1px
            solid #d7edfc;
    display: block;
    float: left;
    height: 34px;
    margin-right: 10px;
    width: 54px;
}

.AttachmentEditor
.AttachmentDeleteAll { float: right }

.swfupload {
    position: absolute;
    z-index: 1
}

.xenOverlay.attachmentUploader { max-width: 500px }

.attachmentUploader
#ctrl_upload {
    margin: 2px
            auto 5px
}

.attachmentUploader .attachmentConstraints
dl {
    font-size: 11px;
    margin-top: 2px;
}

.previewBox {
    display: none;
    margin-bottom: 0 5px 20px 5px;
}

.cate_detail .subcate a:not(:last-child)::after { content: " | "; }

.pager {
    float: right;
    left: -50%;
    margin-bottom: 2em;
    position: relative;
    text-align: left;
}

.pager ul {
    left: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.pager li {
    float: left;
    margin: 0 5px;
}

.pager li a {
    border: 1px solid #e4e4e4;
    clear: both;
    display: block;
    font-weight: bold;
    margin: 15px auto 0;
    padding: 5px 0;
    text-align: center;
    width: 100px;
}

.pager li a:hover {
    background: #36bdda;
    border-color: #27a5c0;
    color: #fff;
}

.indicator {
    bottom: 0;
    display: none;
    height: 2em;
    left: 0;
    margin: auto;
    overflow: show;
    position: fixed;
    right: 0;
    top: 0;
    width: 2em;
    z-index: 999;
}

/* Transparent Overlay */

.indicator:before {
    background-color: rgba(0, 0, 0, 0.3);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

/* :not(:required) hides these rules from IE9 and below */

.indicator:not(:required) {
    background-color: transparent;
    border: 0;
    color: transparent;
    /* hide "loading..." text */
    font: 0/0 a;
    text-shadow: none;
}

.indicator:not(:required):after {
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    -webkit-animation: spinner 1500ms infinite linear;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    content: '';
    display: block;
    font-size: 10px;
    height: 1em;
    margin-top: -0.5em;
    width: 1em;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.pager li.current-page, .pager li.individual-page { display: none; }

.poll-vote-error {
    color: red;
    font-style: italic;
}

.other_news { width: 100%; }

.result {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.recoverypass {
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    margin: 15px auto;
    padding: 15px;
    width: 350px;
}

.recoverypass .txtinput {
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    display: block;
    height: 33px;
    line-height: 33px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.recoverypass .tooltip { padding: 10px 0; }

.recoverypass .recbtn {
    background: #01a260;
    border: 0px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    width: 80px;
    width: 100%;
}

.recoverypass .results { color: red; }

.popup-window .topic-page { padding: 15px; }

.read { font-weight: bold; }