<div class="boxctn">
    <h2><span class="headrib"></span></h2>
    <a href="#"><span class="loading"><img src="temp/sidebar_bigimg.jpg" width="267" height="164" alt="" class="bigimg" /></span><span class="txlink">Những địa danh nhất định phải ghé ở Nha Trang </span></a>
    <ul class="listboxnews">
        <li><span class="rightarr icn"></span><a href="#">Những lý do khiến bạn nên du lịch Côn Đảo</a></li>
        <li><span class="rightarr icn"></span><a href="#">Đồi chè Cầu Đất – bản tình ca giữa núi rừng Đà Lạt</a></li>
    </ul>
</div>
