<div class="newsbox">
    <h2><a href="#">Tin tức</a></h2>
    <div class="contbox">
        <div class="newscont">
            <a href="#" class="boximg"><span class="loading"><img src="temp/contentbox_img.jpg" alt="" width="160" height="120" /></span></a>
            <div class="detail">
                <h3><a href="#">Đà Lạt quen mà lạ với 10 điểm dừng chân thú vị</a> </h3>
                <p>Nếu đã đến Thung lũng Tình Yêu, ga Đà Lạt, thì trong lần trở lại nơi đây, bạn đừng bỏ qua XQ sử quán, Dinh III và chùa Linh Phước. Người dân nơi đây rất tự hào về cà phê của họ</p>
            </div>
        </div>
        <ul class="listrecent">
            <li><em></em><a href="#">20 địa danh đẹp nhất của Canada</a></li>
            <li><em></em><a href="#">Hơn 6.000 người đồng diễn chào mừng Festival biển Nha Trang </a></li>
            <li><em></em><a href="#">Hội An mở đường dây nóng cho khách du lịch... kêu </a></li>
            <li><em></em><a href="#">Thánh địa Mỹ Sơn nhìn từ bầu trời </a></li>
        </ul>
    </div>
</div>
<div class="newsbox">
    <h2><a href="#">CẨM NANG DU LỊCH</a></h2>
    <div class="contbox">
        <div class="newscont">
            <a href="#" class="boximg"><span class="loading"><img src="temp/contentbox_img02.jpg" alt="" width="160" height="120" /></span></a>
            <div class="detail">
                <h3><a href="#">Kinh nghiệm du lịch Sapa mùa đông ngắm tuyết rơi</a> </h3>
                <p>Sapa luôn là điểm đến hấp dẫn mà bất kỳ dân Phượt nào cũng muốn chinh phục. Đặc biệt, mùa đông năm 2013 Sapa trở nên hấp dẫn hơn bao giờ hết khi có tuyết rơi, những bông tuyết nhỏ</p>
            </div>
        </div>
        <ul class="listrecent">
            <li><em></em><a href="#">Say đắm ẩm thực Quảng Bình</a></li>
            <li><em></em><a href="#">Đặc sản Mai Châu – Hương vị núi rừng khó quên</a></li>
            <li><em></em><a href="#">Một vòng trải nghiệm ẩm thực xứ Huế</a></li>
            <li><em></em><a href="#">10 món ăn ngon nhất Thụy Sĩ</a></li>
        </ul>
    </div>
</div>
<div class="newsbox">
    <h2><a href="#">VĂN HÓA - LỄ HỘI</a></h2>
    <div class="contbox">
        <div class="newscont">
            <a href="#" class="boximg"><span class="loading"><img src="temp/contentbox_img03.jpg" alt="" width="160" height="120" /></span></a>
            <div class="detail">
                <h3><a href="#">Lễ hội Nghinh Ông, thú vị tín ngưỡng Việt - Yume</a> </h3>
                <p>Người dân Việt Nam ảnh hưởng bởi tư duy của nền nông nghiệp lúa nước, thường có tư tưởng trông chờ vào sự may rũi của số phận, nên tín ngưỡng là thứ gì đó thiêng liêng và ảnh hưởng</p>
            </div>
        </div>
        <ul class="listrecent">
            <li><em></em><a href="#">Trang nghiêm lễ rước Phật tại Huế</a></li>
            <li><em></em><a href="#">Lễ hội khỉ khởi động Festival biển Nha Trang 2015</a></li>
            <li><em></em><a href="#">Khám phá 11 lễ hội thú vị nhất thế giới</a></li>
            <li><em></em><a href="#">Lung linh lễ hội ánh sáng Vivid Sydney 2015</a></li>
        </ul>
    </div>
</div>
<div class="newsbox">
    <h2><a href="#">ẨM THỰC VÙNG MIỀN</a></h2>
    <div class="contbox">
        <div class="newscont">
            <a href="#" class="boximg"><span class="loading"><img src="temp/contentbox_img04.jpg" alt="" width="160" height="120" /></span></a>
            <div class="detail">
                <h3><a href="#">Lên Tây Bắc thưởng thức những món ăn độc đáo từ "hoa ban"</a> </h3>
                <p>Tây Bắc là một trong những nơi có nền ẩm thực phong phú và đa dạng, bởi vì thể cũng là điểm thu hút nhiều thực khách đến đây. Đến vào dịp này bạn...xinh, trắng xóa rơi ... </p>
            </div>
        </div>
        <ul class="listrecent">
            <li><em></em><a href="#">Hương vị thịt vịt gói lá bầu</a></li>
            <li><em></em><a href="#">Về miền Tây Nam Bộ thưởng thức bánh khọt</a></li>
            <li><em></em><a href="#">Về miền Trung kiếm tìm hương vị bún quê </a></li>
            <li><em></em><a href="#">Những món cuốn ngon kiểu Nam Bộ</a></li>
        </ul>
    </div>
</div>
<div class="corner_sharing">
    <h2><a href="#">GÓC CHIA SẺ</a></h2>
    <ul>
        <li>
            <a href="#" class="blog_thumb"><span class="loading"><img src="temp/sharing_img01.jpg" width="148" height="102" alt="" /></span></a>
            <div class="detailtxt">
                <a href="#" class="blogtitle">Kinh nghiệm Du lịch Kon Tum</a>
                <p class="content">Khí hậu khu vực này cũng tương tự các tỉnh Tây Nguyên khác nên tháng 12 cũng là thời điểm</p>
            </div>
        </li>
        <li>
            <a href="#" class="blog_thumb"><span class="loading"><img src="temp/sharing_img02.jpg" width="148" height="102" alt="" /></span></a>
            <div class="detailtxt">
                <a href="#" class="blogtitle">Ba Hòn Đầm Quần đảo Bà Lụa</a>
                <p class="content">Kiên Giang có nhiều điểm du lịch Biển thu hút khách như đảo Phú Quốc, quần đảo Nam.</p>
            </div>
        </li>
        <li>
            <a href="#" class="blog_thumb"><span class="loading"><img src="temp/sharing_img03.jpg" width="148" height="102" alt="" /></span></a>
            <div class="detailtxt">
                <a href="#" class="blogtitle">Du lịch Đảo Quan Lạn Mùa hè 2014</a>
                <p class="content">Mình đến Đảo Quan Lạn vào một ngày hanh hao nắng xôn xao gió giữa mùa hè tháng 6. </p>
            </div>
        </li>
        <li>
            <a href="#" class="blog_thumb"><span class="loading"><img src="temp/sharing_img04.jpg" width="148" height="102" alt="" /></span></a>
            <div class="detailtxt">
                <a href="#" class="blogtitle">Đặc sản Phú Quốc</a>
                <p class="content">Đến Phú Quốc mọi người không khỏi ngỡ ngàng về Biển, biển ở đây đẹp và thanh bình. </p>
            </div>
        </li>
        <li>
            <a href="#" class="blog_thumb"><span class="loading"><img src="temp/sharing_img05.jpg" width="148" height="102" alt="" /></span></a>
            <div class="detailtxt">
                <a href="#" class="blogtitle">Du lịch Tuy Hòa</a>
                <p class="content">Phú Yên là một tỉnh ven biển thuộc miền Nam Trung Bộ, thuộc trục giao thông chính Bắc </p>
            </div>
        </li>
        <li>
            <a href="#" class="blog_thumb"><span class="loading"><img src="temp/sharing_img06.jpg" width="148" height="102" alt="" /></span></a>
            <div class="detailtxt">
                <a href="#" class="blogtitle">Một ngày du lịch Phố Cổ Hà Nội</a>
                <p class="content">Tôi Đi đã có khá nhiều bài viết về điểm du lịch Hà Nội, trong đó có các bài về lịch trình, các</p>
            </div>
        </li>
    </ul>
</div>
