@model IEnumerable<PostOverviewModel>
@if (Model.Any())
{
    <div class="multibox">
        <h1><a href="#">Ảnh & Video</a></h1>
        <ul class="clearfix">
            @foreach (var post in Model)
            {
                <li>
                    <a href="@Url.RouteUrl("Post", new {SeName = post.SeName})">
                        <span class="loading"><img src="@post.DefaultPictureModel.ImageUrl" alt="@post.DefaultPictureModel.AlternateText" /></span>
                        <h2>@post.Name</h2>
                    </a>
                </li>
            }
        </ul>
    </div>
}
