<div class="multibox">
    <h1><a href="#">Ảnh & Video</a></h1>
    <ul class="clearfix">
        <li>
            <a href="#">
                <span class="loading"><img src="temp/img_vid01.jpg" /></span>
                <h2>Đời vui trên thảo nguyên Pampas</h2>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="loading"><img src="temp/img_vid02.jpg" /></span>
                <h2>Những lá phổi xanh của Nam Ninh</h2>
                <span class="playicn icn"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="loading"><img src="temp/img_vid03.jpg" /></span>
                <h2>Bí quyết phượt đến thiên đường... biển Thổ Chu</h2>
                <span class="playicn icn"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="loading"><img src="temp/img_vid04.jpg" /></span>
                <h2>Thái Lan đứng thứ hai thế giới về.. thu hút khách Hồi giáo</h2>
                <span class="playicn icn"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="loading"><img src="temp/img_vid05.jpg" /></span>
                <h2>Vẻ đẹp huyền ảo của Campuchia trong mưa</h2>
            </a>
        </li>
    </ul>
</div>