<div class="search_news">
    <input type="text" class="searchinput" value="Tìm kiếm" />
    <span class="searchicn icn"></span>
</div>
<ul>
    <li><a href="#" class="active">Trang chủ</a></li>
    <li><a href="#">Cẩm nang du lịch</a></li>
    <li><a href="#">Ẩm thực vùng miền</a></li>
    <li><a href="#">Văn hóa - Lễ hội</a></li>
    <li><a href="#">Góc chia sẻ</a></li>
</ul>
