@model IEnumerable<PostOverviewModel>
@if (Model.Any())
{
    <div class="topcate_view">
        <h2>Xem nhiều</h2>
        <ul>
            @foreach (var post in Model)
            {
                <li>
                    <a href="@Url.RouteUrl("Post", new {SeName = post.SeName})">
                        <img src="@post.DefaultPictureModel.ImageUrl" alt="@post.DefaultPictureModel.AlternateText"> @post.Name
                    </a>
                </li>
            }
        </ul>
    </div>
}