
<div class="boxctn">
    <h2><a href="#" class="headtitle">DU LỊCH QUA ẢNH</a></h2>
    <a href="#" class="thumb"><span class="loading"><img src="temp/sidebar_box_img.jpg" width="268" height="135" alt="" class="bigimg" /> </span><span class="linetxt">Du Lịch Miền Tây Mỹ Tho - Cần Thơ</span></a>
    <ul class="subimg">
        <li><a href="#"><span class="loading"><img src="temp/sidebar_s_img.jpg" width="130" height="80" alt="" /></span></a></li>
        <li><a href="#"><span class="loading"><img src="temp/sidebar_s_img02.jpg" width="130" height="80" alt="" /></span></a></li>
    </ul>
</div>