<div class="content">
    <label>
        <input type="text" class="txtinput" value="" placeholder="Email">
    </label>
    <label>
        <input type="password" class="txtinput" value="" placeholder="Mật khẩu">
    </label>
    <div class="subact">
        <a href="#" class="forgetpw">Quên mật khẩu</a>
        <label>
            <input type="checkbox" class="checkbox">
            Ghi nhớ
        </label>
    </div>
    <p class="actbtn"><a href="#" class="loginbtn">Đăng nhập</a></p>
    <div class="newact">
        <p class="newreg">Chưa có tài khoản?<a href="#" class="regbtn">Đăng ký</a></p>
        Đăng nhập bằng <a href="#" class="facelogin icn"></a>
    </div>
</div>
