@model LoginModel
@{
    Layout = "~/Views/Shared/_OneColumn.cshtml";
}
<div class="loginpage" id="loginpage">

        <div class="page_inner">
            @Html.Partial("LoginBlock",Model)
        </div>
   
</div>