@model CustomerProfileModel
@{
    Layout = "~/Views/Shared/_OneColumn.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}

<div class="mainpage profile">
    <div class="infobox">
        <div class="info_content">
            <div class="avtthumb"><img src="@Model.AvatarUrl" alt="" /><a href="#" class="change_avt" title="Đổi avatar"><span class="camera icn"></span></a></div>
            <p class="username">@Model.Username</p>
            <p class="position">@Model.RoleName</p>
            <p class="numblog">Số lượng bài viết: <span>0</span></p>
            <a href="@Url.RouteUrl("CreateNewPost")" class="btn01">Viết bài mới</a>
        </div>
        <div class="infoblog">
            <table width="100%" border="1">
                <tr>
                    <th scope="col">Tên bài viết</th>
                    <th scope="col">Lượt xem</th>
                    <th scope="col">Lượt bình luận</th>
                    <th scope="col">Lượt chia sẻ</th>
                </tr>
                <tr>
                    <td><a href="#"><img src="temp/contentbox_img.jpg" class="blog_info" /> <span>Đà Lạt quen mà lạ với 10 điểm dừng chân thú vị</span></a></td>
                    <td>20</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td><a href="#"><img src="temp/contentbox_img.jpg" class="blog_info" /> <span>Đà Lạt quen mà lạ với 10 điểm dừng chân thú vị</span></a></td>
                    <td>30</td>
                    <td>12</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td><a href="#"><img src="temp/contentbox_img.jpg" class="blog_info" /> <span>Đà Lạt quen mà lạ với 10 điểm dừng chân thú vị</span></a></td>
                    <td>35</td>
                    <td>16</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td><a href="#"><img src="temp/contentbox_img.jpg" class="blog_info" /> <span>Đà Lạt quen mà lạ với 10 điểm dừng chân thú vị</span></a></td>
                    <td>45</td>
                    <td>7</td>
                    <td>9</td>
                </tr>
            </table>
            <p class="err">Hiện tại bạn chưa có bài viết nào, <a href="#">Viết ngay</a></p>
        </div>
    </div>
</div>
