@model RegisterModel

@{
    Layout = "~/Views/Shared/_OneColumn.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
}

    <div class="loginpage reg">
        <h1>Đăng ký Vietnam4u</h1>
        <div class="page_inner">
            @Html.Partial("RegisterBlock", Model)
        </div>
    </div>
