@using TinyCms.Core.Domain.Common
@using TinyCms.Core.Infrastructure
@{
    var socialSettings = EngineContext.Current.Resolve<SocialSettings>();
    var facebookAppId = socialSettings.FacebookAppId;
    var facebookAppSecret = socialSettings.FacebookAppSecret;
}
@if (!string.IsNullOrWhiteSpace(facebookAppId) && !string.IsNullOrWhiteSpace(facebookAppSecret))
{
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: "@facebookAppId",
                xfbml: true,
                version: "v2.5"
            });
            $(document).trigger("fbload");
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, "script", "facebook-jssdk"));
    </script>
}