<div class="header sub">
    <div class="menu_ctn">
        <div class="infobar clearfix">
            <a href="@Url.RouteUrl("homepage")" class="logo"></a>
            <div class="myinfo">
                @Html.Action("UserInfoZone", "Customer");
            </div>
        </div>
    </div>
</div>
