<div class="header sub mobile">
    <div class="menu_ctn">
        <div class="infobar clearfix">
            <a href="@Url.RouteUrl("homepage")" class="logo"></a>
            <div class="myinfo subnav">
                @Html.Action("UserInfoZone", "Customer")
            </div>
            <div class="menuloc subnav">
                <span class="navcate icn"></span>
                <div class="sub_info">
                    <span class="toparr icn"></span>
                    @Html.Action("TopMenu", "Posts")
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <div class="inner">
        <div class="infobar clearfix">
            <p class="mycontact"><span class="phone_icn icn"></span><strong>0903.754.369</strong> (Mr.Phong)</p>
            <div class="myinfo subnav">
                @Html.Action("UserInfoZone", "Customer")
            </div>
            <div class="menuloc"><span class="navcate icn"></span></div>
        </div>
    </div>
</div>
