<div class="toolbox inpage">
    <table style="border: 1px; width: 100%;">
        <tr>
            <td>
                <a target="_blank" href="http://vemaybayonline.net.vn/">
                    <span class="airticket icn"></span><span class="txt">Đặt vé máy bay</span></a>
            </td>
            <td>
                <a target="_blank" href="https://vexere.com/">
                    <span class="busticket icn"></span><span class="txt">Đặt vé xe khách</span></a>
            </td>
            <td>
                <a target="_blank" href="https://www.ivivu.com/">
                    <span class="hotelticket icn"></span><span class="txt">Đặt khách sạn</span></a>
            </td>
            <td>
                <a target="_blank" href="https://travel.com.vn/">
                    <span class="tourticket icn"></span><span class="txt">Đặt tour du lịch</span></a>
            </td>
        </tr>
    </table>
</div>