<div class="toolbox">
    <h2>Tiện ích</h2>
    <ul class="clearfix">
        <li><a target="_blank" href="http://vemaybayonline.net.vn/"><span class="airticket icn"></span><span class="txt">Vé máy bay</span></a></li>
        <li><a target="_blank" href="https://vexere.com/"><span class="busticket icn"></span><span class="txt">Vé xe khách</span></a></li>
        <li><a target="_blank" href="https://www.ivivu.com/"><span class="hotelticket icn"></span><span class="txt">Khách sạn</span></a></li>
        <li><a target="_blank" href="https://travel.com.vn/"><span class="tourticket icn"></span><span class="txt">Tour du lịch</span></a></li>
    </ul>
</div>